In [2]:
import pandas as pd

In [4]:
import json

#with open(r'LevelData\2023 District 18 Scores\2023 District 18 Scores.json') as json_data:
#    district_json = json.load(json_data)
#ld_schools = pd.DataFrame(district_json['schools'])
#ld_cs = pd.DataFrame(district_json['courseSections'])
#ld_csr = pd.DataFrame(district_json['courseSectionRosters'])


#with open(r'LevelData\2024-09-11 District A Benchmarks.json') as benchmarks_data:
#with open(r'LevelData\benchmarks_202410011642.json') as benchmarks_data:
#    benchmarks_json = json.load(benchmarks_data)
#    ld_benchmarks = pd.DataFrame(benchmarks_json['benchmarks'])

with open(r'/Users/zubeydafarah/Desktop/LEVELDATA/district.json') as benchmarks_data:
    benchmarks_json = json.load(benchmarks_data)
    ld_benchmarks = pd.DataFrame(benchmarks_json['benchmarks'])




with open(r'/Users/zubeydafarah/Desktop/LEVELDATA/2023 District 18 Scores.json') as scores_data:
    sc_json = json.load(scores_data)

In [6]:
    ld_scores = pd.DataFrame(sc_json['SELECT s.id, s.districtId, sc.*\r\nFROM aim2.students s\r\nJOIN aim2.scores sc ON s.id = sc.studentId \r\nWHERE s.districtId = 18'])

In [ ]:
test = pd.DataFrame(ld_scores.columns)

In [ ]:
test

In [ ]:
test[(test[0].str.contains('value_', na=False)==False)]

In [10]:
ld_scores['subgroup_gender'].unique()

array([0, 1, 2])

In [11]:
ld_benchmarks

     id districtId  year level                     dataSource value
0   120         45  2017     3             value_scantronMath  2356
1   121         45  2017     3          value_scantronReading  2563
2   122         45  2017     4             value_scantronMath  2493
3   123         45  2017     4          value_scantronReading  2674
4   124         45  2017     5             value_scantronMath  2584
5   125         45  2017     5          value_scantronReading  2841
6   126         45  2017     6             value_scantronMath  2675
7   127         45  2017     6          value_scantronReading  2897
8   128         45  2017     7             value_scantronMath  2766
9   129         45  2017     7          value_scantronReading  3008
10  130         45  2017     8             value_scantronMath  2823
11  131         45  2017     8          value_scantronReading  3063
12  132         45  2017    11        value_actCompositeScore  19.5
13  133         45  2018     3             value_scantronMath  2364
14  134         45  2018     3          value_scantronReading  2518
15  528         45  2018     3  value_aspireReadingScaleScore   250
16  675         45  2018     3                 value_starMath  1900
17  135         45  2018     4             value_scantronMath  2488
18  136         45  2018     4          value_scantronReading  2678
19  529         45  2018     4  value_aspireReadingScaleScore   260
20  676         45  2018     4                 value_starMath  2488
21  137         45  2018     5             value_scantronMath  2589
22  138         45  2018     5          value_scantronReading  2798
23  530         45  2018     5  value_aspireReadingScaleScore   270
24  677         45  2018     5                 value_starMath  2589
25  140         45  2018     6             value_scantronMath  2667
26  141         45  2018     6          value_scantronReading  2883
27  531         45  2018     6  value_aspireReadingScaleScore   275
28  678         45  2018     6                 value_starMath  2667
29  143         45  2018     7             value_scantronMath  2743
30  144         45  2018     7          value_scantronReading  2954
31  532         45  2018     7  value_aspireReadingScaleScore   280
32  679         45  2018     7                 value_starMath  2743
33  146         45  2018     8             value_scantronMath  2788
34  147         45  2018     8          value_scantronReading  3019
35  533         45  2018     8  value_aspireReadingScaleScore   290
36  680         45  2018     8                 value_starMath  2788
37  652         45  2018    11        value_actCompositeScore  19.1
38  653         45  2018    11             value_actMathScore    17
39  654         45  2018    11          value_actReadingScore    18
40  655         45  2018    11          value_actEnglishScore    18
41  656         45  2018    11          value_actScienceScore    18

In [12]:

how_many_benches = ld_benchmarks.shape[0]

benchmark_counts = ld_benchmarks['year'].value_counts()

benchmark_counts_df = benchmark_counts.reset_index()
benchmark_counts_df.columns = ['benchmark', 'count']

benchmark_counts_df

  benchmark  count
0      2018     29
1      2017     13

In [13]:
ld_benchmarks2023=ld_benchmarks[ld_benchmarks['year'] == 2023]
ld_benchmarks2023=ld_benchmarks2023.reset_index()
ld_benchmarks2023

Empty DataFrame
Columns: [index, id, districtId, year, level, dataSource, value]
Index: []

In [26]:
ld_benchmarks2023[ld_benchmarks2023['dataSource']=='value_starReadingUnified']

Empty DataFrame
Columns: [index, id, districtId, year, level, dataSource, value]
Index: []

In [28]:
ld_benchmarks2023['dataSource'].unique()

array([], dtype=object)

In [26]:
with open('/Users/zubeydafarah/Desktop/LEVELDATA/District 18 Vendor Usage Types.json') as vendor_data:
    vendor_json = json.load(vendor_data)

In [30]:
with open('/Users/zubeydafarah/Desktop/LEVELDATA/District 18 Vendor Usage Types.json') as vendor_reference_data:
    vendor_reference_json = json.load(vendor_reference_data)
    ld_vendorRef = pd.DataFrame(vendor_reference_json["vendorUsageTypes"])

In [32]:
print(ld_scores.shape)
ld_scores.head()

(132258, 715)

,id,districtId,subgroup_TCAPELALevel,ticket,studentId,studentLevel,year,scoreDate,measurementTypeId,subgroup_specialEd,...,value_ElpacOralLevel,value_ElpacWritten,value_ElpacWrittenLevel,value_AcapSciRc1,value_AcapSciRc2,value_AcapSciRc3,value_AcapSciRc4,value_fsaWriting,value_fsaWritingLevel,value_acadienceReadingCompositeLevel
0,3268686,18,0,1670274005jaxk7kpda0,1480117,11,2023,0000-00-00,4,0,...,0,0,0,0,0,0,0,0,0,0
1,4933778,18,0,,1480117,11,2023,0000-00-00,1,0,...,0,0,0,0,0,0,0,0,0,0
2,5441518,18,0,,1480117,11,2023,0000-00-00,2,0,...,0,0,0,0,0,0,0,0,0,0
3,7263146,18,0,,1480117,11,2023,0000-00-00,6,0,...,0,0,0,0,0,0,0,0,0,0
4,7510656,18,0,,1480117,11,2023,0000-00-00,7,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
ld_scores['subGroup_bottom25'].unique()

array([0])

In [36]:
ld_scores.shape

(132258, 715)

In [38]:

student_count = ld_scores.shape[0]

year_counts = ld_scores['year'].value_counts()

year_percentages = (year_counts / student_count) * 100

year_percentage_df = year_percentages.reset_index()
year_percentage_df.columns = ['Year', 'Percentage']

year_percentage_df

   Year  Percentage
0  2023       100.0

In [40]:
print(ld_scores['subgroup_lunchStatus'].unique())

lunch_status_counts = ld_scores['subgroup_lunchStatus'].value_counts()

lunch_status_percentages = (lunch_status_counts / student_count) * 100

lunch_status_percentages_df = lunch_status_percentages.reset_index()
lunch_status_percentages_df.columns = ['Lunch Status', 'Percentage']

lunch_status_percentages_df

[0]

   Lunch Status  Percentage
0             0       100.0

In [42]:
print(ld_scores['subgroup_ethnicity'].unique())

ethnicity_counts = ld_scores['subgroup_ethnicity'].value_counts()

ethnicity_percentages = (ethnicity_counts / student_count) * 100

ethnicity_counts_df = ethnicity_percentages.reset_index()
ethnicity_counts_df.columns = ['Ethnicity', 'Percentage']

ethnicity_counts_df

[0]

   Ethnicity  Percentage
0          0       100.0

In [44]:
print(ld_scores['subgroup_gender'].unique())

gender_counts = ld_scores['subgroup_gender'].value_counts()

gender_percentages = (gender_counts / student_count) * 100

gender_percentages_df = gender_percentages.reset_index()
gender_percentages_df.columns = ['Gender', 'Percentage']

gender_percentages_df

[0 1 2]

   Gender  Percentage
0       1   42.508582
1       2   38.683482
2       0   18.807936

In [46]:
print(ld_scores['subgroup_ell'].unique())

ell_status_counts = ld_scores['subgroup_ell'].value_counts()

ell_status_percentages = (ell_status_counts / student_count) * 100

ell_status_percentages_df = ell_status_percentages.reset_index()
ell_status_percentages_df.columns = ['ell status', 'Percentage']

ell_status_percentages_df

[0 2 1]

   ell status  Percentage
0           2   77.838770
1           0   18.807936
2           1    3.353294

In [48]:
zero_counts = (ld_scores == 0).sum()
zero_percentages = (zero_counts/student_count) *100

zero_percentage_df = zero_percentages.reset_index()
zero_percentage_df.columns = ['Column', 'Zero_Count']

zero_percentage_df

                                   Column  Zero_Count
0                                      id    0.000000
1                              districtId    0.000000
2                   subgroup_TCAPELALevel  100.000000
3                                  ticket    0.000000
4                               studentId    0.000000
..                                    ...         ...
710                      value_AcapSciRc3   98.034901
711                      value_AcapSciRc4   98.700268
712                      value_fsaWriting  100.000000
713                 value_fsaWritingLevel  100.000000
714  value_acadienceReadingCompositeLevel  100.000000

[715 rows x 2 columns]

In [50]:
student_count = ld_scores.shape[0]

grade_levelCounts = ld_scores['studentLevel'].value_counts()

grade_level_percentage = (grade_levelCounts / student_count) * 100

grade_level_percentage_df = grade_level_percentage.reset_index()
grade_level_percentage_df.columns = ['grade level', 'Percentage']

grade_level_percentage_df

    grade level  Percentage
0             8   12.703957
1             6   12.127055
2             7   12.024225
3             3   11.669615
4             2   11.284762
5             5   11.155469
6             4   10.936200
7             9    4.089734
8            10    3.326831
9             1    3.250465
10           11    3.086392
11            0    2.497391
12           12    1.825220
13           62    0.015878
14           56    0.004537
15           52    0.001512
16           -1    0.000756

In [52]:
grade_levelCounts

studentLevel
 8     16802
 6     16039
 7     15903
 3     15434
 2     14925
 5     14754
 4     14464
 9      5409
 10     4400
 1      4299
 11     4082
 0      3303
 12     2414
 62       21
 56        6
 52        2
-1         1
Name: count, dtype: int64

In [54]:
empty_threshold = 95
empty_cols = zero_percentage_df[zero_percentage_df['Zero_Count'] > empty_threshold]

empty_cols = empty_cols.reset_index()
empty_cols

     index                                Column  Zero_Count
0        2                 subgroup_TCAPELALevel  100.000000
1       10                  subgroup_lunchStatus  100.000000
2       12                    subgroup_ethnicity  100.000000
3       14                     subGroup_bottom25  100.000000
4       15                    value_actMathScore   98.089341
..     ...                                   ...         ...
673    710                      value_AcapSciRc3   98.034901
674    711                      value_AcapSciRc4   98.700268
675    712                      value_fsaWriting  100.000000
676    713                 value_fsaWritingLevel  100.000000
677    714  value_acadienceReadingCompositeLevel  100.000000

[678 rows x 3 columns]

In [56]:
useful_threshold = 95
useful_cols = zero_percentage_df[zero_percentage_df['Zero_Count'] < useful_threshold]
useful_cols.columns = ['Column','Zero_Percentage']
useful_cols.reset_index()

    index                     Column  Zero_Percentage
0       0                         id         0.000000
1       1                 districtId         0.000000
2       3                     ticket         0.000000
3       4                  studentId         0.000000
4       5               studentLevel         2.497391
5       6                       year         0.000000
6       7                  scoreDate         0.000000
7       8          measurementTypeId         0.000000
8       9         subgroup_specialEd        18.807936
9      11            subgroup_gender        18.807936
10     13               subgroup_ell        18.807936
11     43          value_starReading        86.983774
12     44             value_starMath        86.960335
13    100              value_acapELA        91.248923
14    101             value_acapMath        91.217166
15    147         value_edulasticELA        90.619849
16    208        value_acapMathLevel        91.217166
17    209         value_acapELALevel        91.248923
18    237        value_edulasticMath        86.358481
19    271     value_edulasticScience        90.116288
20    272     value_edulasticHistory        93.885436
21    357           value_lexileStar        84.195285
22    374           value_acapLexile        91.349484
23    375         value_StudySyncELA        90.791483
24    422   value_starReadingUnified        82.297479
25    443      value_starMathUnified        82.292943
26    444  value_starEarlyLitUnified        93.982973
27    480     value_caseMathLevelExt         0.000000
28    481     value_caseReadLevelExt         0.000000
29    482    value_caseEngIILevelExt         0.000000
30    483      value_caseSciLevelExt         0.000000
31    484      value_caseSocLevelExt         0.000000
32    485     value_caseEngILevelExt         0.000000
33    486      value_caseGeoLevelExt         0.000000
34    487     value_caseAlgILevelExt         0.000000
35    488    value_caseAlgIILevelExt         0.000000
36    489      value_caseBioLevelExt         0.000000

In [58]:
toDrop = zero_percentage_df[zero_percentage_df['Zero_Count'] == 100]
toDrop['Column']

2                     subgroup_TCAPELALevel
10                     subgroup_lunchStatus
12                       subgroup_ethnicity
14                        subGroup_bottom25
20                           value_nweaMath
                       ...
706                      value_ElpacWritten
707                 value_ElpacWrittenLevel
712                        value_fsaWriting
713                   value_fsaWritingLevel
714    value_acadienceReadingCompositeLevel
Name: Column, Length: 635, dtype: object

In [60]:
ld_scores_new = ld_scores.drop(columns = toDrop['Column'], inplace=False)

In [62]:
ld_scores_new

,id,districtId,ticket,studentId,studentLevel,year,scoreDate,measurementTypeId,subgroup_specialEd,subgroup_gender,...,value_AcapElaRc10,value_AcapMathRc1,value_AcapMathRc2,value_AcapMathRc3,value_AcapMathRc4,value_AcapMathRc5,value_AcapSciRc1,value_AcapSciRc2,value_AcapSciRc3,value_AcapSciRc4
0,3268686,18,1670274005jaxk7kpda0,1480117,11,2023,0000-00-00,4,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4933778,18,,1480117,11,2023,0000-00-00,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5441518,18,,1480117,11,2023,0000-00-00,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7263146,18,,1480117,11,2023,0000-00-00,6,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7510656,18,,1480117,11,2023,0000-00-00,7,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132253,7719118,18,,2513590,2,2023,0000-00-00,14,3,1,...,0,0,0,0,0,0,0,0,0,0
132254,7719119,18,,2513590,2,2023,0000-00-00,15,3,1,...,0,0,0,0,0,0,0,0,0,0
132255,7719120,18,,2513590,2,2023,0000-00-00,16,3,1,...,0,0,0,0,0,0,0,0,0,0
132256,7719121,18,,2513590,2,2023,0000-00-00,17,3,1,...,0,0,0,0,0,0,0,0,0,0
132257,7719122,18,,2513590,2,2023,0000-00-00,18,3,1,...,0,0,0,0,0,0,0,0,0,0

In [64]:
ld_scores_new.columns

Index(['id', 'districtId', 'ticket', 'studentId', 'studentLevel', 'year',
       'scoreDate', 'measurementTypeId', 'subgroup_specialEd',
       'subgroup_gender', 'subgroup_ell', 'value_actMathScore',
       'value_actEnglishScore', 'value_actReadingScore',
       'value_actScienceScore', 'value_actCompositeScore', 'value_starReading',
       'value_starMath', 'value_acapELA', 'value_acapMath',
       'value_StarEarlyLit', 'value_edulasticELA', 'value_actStemScore',
       'value_acapMathLevel', 'value_acapELALevel', 'value_acapScience',
       'value_acapScienceLevel', 'value_edulasticMath',
       'value_edulasticScience', 'value_edulasticHistory',
       'value_acapReadSubscore', 'value_lexileStar', 'value_acapLexile',
       'value_StudySyncELA', 'value_edulasticAlgebra',
       'value_edulasticGeometry', 'value_edulasticPreCal',
       'value_edulasticPhySci', 'value_edulasticBio', 'value_edulasticChem',
       'value_edulasticEnvironmental', 'value_edulasticWH',
       'value_edulasticUsHistory', 'value_edulasticEco', 'value_edulasticGov',
       'value_edulasticCivics', 'value_edulasticGeography',
       'value_starReadingUnified', 'value_starMathUnified',
       'value_starEarlyLitUnified', 'value_edulasticAP',
       'value_caseMathLevelExt', 'value_caseReadLevelExt',
       'value_caseEngIILevelExt', 'value_caseSciLevelExt',
       'value_caseSocLevelExt', 'value_caseEngILevelExt',
       'value_caseGeoLevelExt', 'value_caseAlgILevelExt',
       'value_caseAlgIILevelExt', 'value_caseBioLevelExt', 'value_AcapElaRc1',
       'value_AcapElaRc2', 'value_AcapElaRc3', 'value_AcapElaRc4',
       'value_AcapElaRc5', 'value_AcapElaRc6', 'value_AcapElaRc7',
       'value_AcapElaRc8', 'value_AcapElaRc9', 'value_AcapElaRc10',
       'value_AcapMathRc1', 'value_AcapMathRc2', 'value_AcapMathRc3',
       'value_AcapMathRc4', 'value_AcapMathRc5', 'value_AcapSciRc1',
       'value_AcapSciRc2', 'value_AcapSciRc3', 'value_AcapSciRc4'],
      dtype='object')

In [66]:
tests = ld_scores_new.columns[ld_scores_new.columns.str.contains('value_')]

In [68]:
tests_df = ld_scores_new[tests]

In [70]:
# Specify the column in df2 to check against df1's column names
column_to_check = 'dataSource'

# Get the column names from df1
tests_to_find = tests_df.columns.tolist()

# Find which column names from df1 appear in the specified column of df2
matching_columns = [col for col in tests_df if col in ld_benchmarks2023[column_to_check].values]

In [72]:
matching_columns

[]

In [74]:
ld_benchmarks2023

Empty DataFrame
Columns: [index, id, districtId, year, level, dataSource, value]
Index: []

In [76]:
print(ld_scores['subgroup_specialEd'].unique())

specEd_counts = ld_scores['subgroup_specialEd'].value_counts()

specEd_percentages = (specEd_counts / student_count) * 100

specEd_percentages_df = specEd_percentages.reset_index()
specEd_percentages_df.columns = ['specEd', 'Percentage']

specEd_percentages_df

[0 1 3]

   specEd  Percentage
0       3   67.565667
1       0   18.807936
2       1   13.626397

In [110]:
print("Keys in JSON file:", vendor_json.keys())

Keys in JSON file: dict_keys(['vendorUsageTypes'])

In [112]:
# Assuming you find that the correct key is 'vendorUsageTypes'
ld_vendorUse = pd.DataFrame(vendor_json['vendorUsageTypes'])  # Replace 'vendorUsageTypes' with the actual key name

# Check if ld_vendorUse was successfully created
if 'ld_vendorUse' in locals():
    print("Shape of DataFrame:", ld_vendorUse.shape)
    print(ld_vendorUse.head())
else:
    print("ld_vendorUse was not successfully defined.")

Shape of DataFrame: (290, 10)
   id                 name  districtId  usageTypeId roiBucketType  \
0   4      IXL Reading Non          18            1          loss
1   5  IXL Reading Partial          18            2          loss
2   6     IXL Reading User          18            3          gain
3   7    IXL Math Non User          18            4          loss
4   8    IXL Math Partial           18            5          loss

   initiativeId  vendorId utilBucketType  weeklyUsageMinutes  productId
0            61     72609        nonUser                   0          0
1            61     72609    partialUser                   0          0
2            61     72609       fullUser                   0          0
3            60     11333        nonUser                   0          0
4            60     11333    partialUser                   0          0

In [114]:
print(ld_vendorRef.shape)
ld_vendorRef.head()

(290, 10)

,id,name,districtId,usageTypeId,roiBucketType,initiativeId,vendorId,utilBucketType,weeklyUsageMinutes,productId
0,4,IXL Reading Non,18,1,loss,61,72609,nonUser,0,0
1,5,IXL Reading Partial,18,2,loss,61,72609,partialUser,0,0
2,6,IXL Reading User,18,3,gain,61,72609,fullUser,0,0
3,7,IXL Math Non User,18,4,loss,60,11333,nonUser,0,0
4,8,IXL Math Partial,18,5,loss,60,11333,partialUser,0,0

In [116]:
ld_benchmarks

     id districtId  year level                     dataSource value
0   120         45  2017     3             value_scantronMath  2356
1   121         45  2017     3          value_scantronReading  2563
2   122         45  2017     4             value_scantronMath  2493
3   123         45  2017     4          value_scantronReading  2674
4   124         45  2017     5             value_scantronMath  2584
5   125         45  2017     5          value_scantronReading  2841
6   126         45  2017     6             value_scantronMath  2675
7   127         45  2017     6          value_scantronReading  2897
8   128         45  2017     7             value_scantronMath  2766
9   129         45  2017     7          value_scantronReading  3008
10  130         45  2017     8             value_scantronMath  2823
11  131         45  2017     8          value_scantronReading  3063
12  132         45  2017    11        value_actCompositeScore  19.5
13  133         45  2018     3             value_scantronMath  2364
14  134         45  2018     3          value_scantronReading  2518
15  528         45  2018     3  value_aspireReadingScaleScore   250
16  675         45  2018     3                 value_starMath  1900
17  135         45  2018     4             value_scantronMath  2488
18  136         45  2018     4          value_scantronReading  2678
19  529         45  2018     4  value_aspireReadingScaleScore   260
20  676         45  2018     4                 value_starMath  2488
21  137         45  2018     5             value_scantronMath  2589
22  138         45  2018     5          value_scantronReading  2798
23  530         45  2018     5  value_aspireReadingScaleScore   270
24  677         45  2018     5                 value_starMath  2589
25  140         45  2018     6             value_scantronMath  2667
26  141         45  2018     6          value_scantronReading  2883
27  531         45  2018     6  value_aspireReadingScaleScore   275
28  678         45  2018     6                 value_starMath  2667
29  143         45  2018     7             value_scantronMath  2743
30  144         45  2018     7          value_scantronReading  2954
31  532         45  2018     7  value_aspireReadingScaleScore   280
32  679         45  2018     7                 value_starMath  2743
33  146         45  2018     8             value_scantronMath  2788
34  147         45  2018     8          value_scantronReading  3019
35  533         45  2018     8  value_aspireReadingScaleScore   290
36  680         45  2018     8                 value_starMath  2788
37  652         45  2018    11        value_actCompositeScore  19.1
38  653         45  2018    11             value_actMathScore    17
39  654         45  2018    11          value_actReadingScore    18
40  655         45  2018    11          value_actEnglishScore    18
41  656         45  2018    11          value_actScienceScore    18

In [118]:
ld_scores.shape

(132258, 715)

In [120]:
ld_scores.head(10)

,id,districtId,subgroup_TCAPELALevel,ticket,studentId,studentLevel,year,scoreDate,measurementTypeId,subgroup_specialEd,...,value_ElpacOralLevel,value_ElpacWritten,value_ElpacWrittenLevel,value_AcapSciRc1,value_AcapSciRc2,value_AcapSciRc3,value_AcapSciRc4,value_fsaWriting,value_fsaWritingLevel,value_acadienceReadingCompositeLevel
0,3268686,18,0,1670274005jaxk7kpda0,1480117,11,2023,0000-00-00,4,0,...,0,0,0,0,0,0,0,0,0,0
1,4933778,18,0,,1480117,11,2023,0000-00-00,1,0,...,0,0,0,0,0,0,0,0,0,0
2,5441518,18,0,,1480117,11,2023,0000-00-00,2,0,...,0,0,0,0,0,0,0,0,0,0
3,7263146,18,0,,1480117,11,2023,0000-00-00,6,0,...,0,0,0,0,0,0,0,0,0,0
4,7510656,18,0,,1480117,11,2023,0000-00-00,7,0,...,0,0,0,0,0,0,0,0,0,0
5,7515779,18,0,,1480117,11,2023,0000-00-00,3,0,...,0,0,0,0,0,0,0,0,0,0
6,4933508,18,0,,1480118,12,2023,0000-00-00,1,0,...,0,0,0,0,0,0,0,0,0,0
7,5444101,18,0,,1480118,12,2023,0000-00-00,2,0,...,0,0,0,0,0,0,0,0,0,0
8,4933512,18,0,,1480120,12,2023,0000-00-00,1,0,...,0,0,0,0,0,0,0,0,0,0
9,5442635,18,0,,1480120,12,2023,0000-00-00,2,0,...,0,0,0,0,0,0,0,0,0,0

In [126]:
ld_scores['scoreDate'].unique()

array(['0000-00-00'], dtype=object)

In [155]:
# import needed libraries
import pandas as pd
import json
import matplotlib. pyplot as plt
import seaborn as sns
import numpy as np

In [157]:
#extract benchmarks with
with open('/Users/zubeydafarah/Desktop/LEVELDATA/district.json') as scores_data:
  data = json.load (scores_data)
  records = data[next(iter(data))] # Get the list of records
  scores = pd.DataFrame(records)

In [165]:
# Step 1: Define the file path (change the path as per your directory structure)
file_name = "/Users/zubeydafarah/Desktop/LEVELDATA/district.json"

# Step 2: Function to compute z-scores
def compute_z_scores(file_name, score_columns):
    try:
        # Step 3: Read the data
        scores = pd.read_json(file_name)  # Adjust if it's a different file type, like CSV

        # Step 4: Check for existing columns in the scores DataFrame
        existing_columns = [col for col in score_columns if col in scores.columns]

        # Apply zscore function to each score column and handle NaN values
        z_scores = scores[existing_columns].apply(stats.zscore, nan_policy='omit')
        z_scores.fillna(0, inplace=True)

        # Add the Z-scores back to the original DataFrame
        z_score_column_names = [col + '_Zscore' for col in existing_columns]
        scores[z_score_column_names] = z_scores

        return scores  # Return updated DataFrame with Z-scores
    except Exception as e:
        print(f"Error processing file: {e}")
        return None

# Step 5: Call the function to compute z-scores and display results
result_df = compute_z_scores(file_name, score_columns)

# Check if processing was successful
if result_df is not None:
    print(result_df.head())

Error processing file: All arrays must be of the same length

In [7]:
# Import necessary libraries
import pandas as pd
from scipy import stats
import IPython.display as display

# Sample DataFrame creation for demonstration (since actual 'scores' DataFrame is not provided)
# Replace this sample with your own DataFrame
data = {
    'value_actMathScore': [25, 30, 28, 32, None],
    'value_actEnglishScore': [20, 25, 23, None, 22],
    'value_nweaMath': [210, 220, 225, 230, 215],
    'value_maapScienceRc2': [0, 1, 2, 3, 0],
    'value_cltComposite': [10, 15, 20, 25, 12],
    'value_NMMSSAReading': [30, 35, 40, 45, 32],
    'value_MAAPMath': [50, 55, 60, 58, 54],
    'value_iReadyReading': [400, 410, 405, 420, 415],
    'value_nweaScience': [150, 155, 160, 158, 154],
    'value_starMath': [350, 360, 355, 365, 370],
    'value_scantronReading': [85, 90, 88, 92, 87],
    'value_MAAPScience': [60, 65, 62, 70, 68],
    'value_accessReadingProficiency': [4, 4.5, 4.2, 5, 4.7],
    'value_starReading': [100, 105, 110, 108, 107],
    'value_ELAMilestones': [120, 125, 130, 132, 129],
    'value_iStationReading': [300, 305, 310, 315, 312],
    'value_iStationMath': [250, 255, 260, 265, 258],
    'value_dibelsReading': [3, 3.5, 4, 4.2, 3.8],
    'value_LEAPScience': [70, 75, 78, 80, 74],
    'value_ScienceMilestones': [45, 50, 55, 52, 48],
    'value_SocialMilestones': [90, 95, 92, 100, 98],
    'value_tcapMath': [75, 78, 80, 82, 77],
    'value_tcapELA': [85, 88, 90, 87, 89],
    'value_tcapScience': [95, 92, 94, 96, 93],
    'value_GeometryGMA': [70, 72, 75, 78, 74],
    'value_BiologyGMA': [65, 68, 70, 72, 67],
    'value_AlgebraGMA': [60, 63, 65, 66, 61],
    'value_lexileAchieve': [700, 750, 800, 850, 725],
    'value_SATMath': [500, 510, 520, 530, 505],
    'value_SATEBRW': [480, 490, 495, 500, 485],
    # Add the additional assessment columns below:
    'value_starReadingUnified': [86.98, 87.2, 88.0, 89.0, 85.5],
    'value_starMathUnified': [86.96, 88.0, 89.5, 90.0, 85.8],
    'value_acapELA': [91.25, 92.0, 93.5, 94.0, 90.8],
    'value_acapMath': [91.22, 92.3, 93.8, 94.5, 91.0],
    'value_StarEarlyLit': [93.98, 94.0, 95.0, 95.5, 92.8],
    'value_acapLexile': [91.35, 92.5, 93.0, 94.0, 90.0],
    'value_StudySyncELA': [90.79, 91.5, 92.5, 93.0, 89.8],
}

# Creating a DataFrame
scores = pd.DataFrame(data)

# List of all columns to process
score_columns = [
    'value_actMathScore', 'value_actEnglishScore', 'value_actReadingScore', 'value_actScienceScore',
    'value_actCompositeScore', 'value_starReading', 'value_starMath', 'value_acapELA', 'value_acapMath',
    'value_StarEarlyLit', 'value_edulasticELA', 'value_actStemScore', 'value_acapMathLevel',
    'value_acapELALevel', 'value_acapScience', 'value_acapScienceLevel', 'value_edulasticMath',
    'value_edulasticScience', 'value_edulasticHistory', 'value_acapReadSubscore', 'value_lexileStar',
    'value_acapLexile', 'value_StudySyncELA', 'value_edulasticAlgebra', 'value_edulasticGeometry',
    'value_edulasticPreCal', 'value_edulasticPhySci', 'value_edulasticBio', 'value_edulasticChem',
    'value_edulasticEnvironmental', 'value_edulasticWH', 'value_edulasticUsHistory', 'value_edulasticEco',
    'value_edulasticGov', 'value_edulasticCivics', 'value_edulasticGeography', 'value_starReadingUnified',
    'value_starMathUnified', 'value_starEarlyLitUnified', 'value_edulasticAP', 'value_caseMathLevelExt',
    'value_caseReadLevelExt', 'value_caseEngIILevelExt', 'value_caseSciLevelExt', 'value_caseSocLevelExt',
    'value_caseEngILevelExt', 'value_caseGeoLevelExt', 'value_caseAlgILevelExt', 'value_caseAlgIILevelExt',
    'value_caseBioLevelExt', 'value_AcapElaRc1', 'value_AcapElaRc2', 'value_AcapElaRc3', 'value_AcapElaRc4',
    'value_AcapElaRc5', 'value_AcapElaRc6', 'value_AcapElaRc7', 'value_AcapElaRc8', 'value_AcapElaRc9',
    'value_AcapElaRc10', 'value_AcapMathRc1', 'value_AcapMathRc2', 'value_AcapMathRc3', 'value_AcapMathRc4',
    'value_AcapMathRc5', 'value_AcapSciRc1', 'value_AcapSciRc2', 'value_AcapSciRc3', 'value_AcapSciRc4'
]

# Check for existing columns in DataFrame
existing_columns = [col for col in score_columns if col in scores.columns]

# Apply zscore function to each score column and set nan_policy='omit' to avoid errors
z_scores = scores[existing_columns].apply(stats.zscore, nan_policy='omit')

# Replace NaN values with 0
z_scores.fillna(0, inplace=True)

# Add the Z-scores back to the original DataFrame
z_score_column_names = [col + '_Zscore' for col in existing_columns]
scores[z_score_column_names] = z_scores

# Create a new DataFrame for displaying Z-scores cleanly
z_scores_df = scores[z_score_column_names]

# Style and display the DataFrame
styled_df = z_scores_df.style.set_table_attributes('style="font-size: 14px; border-collapse: collapse;"').set_table_styles([{
    'selector': 'th',
    'props': [('background-color', '#f2f2f2'), ('font-weight', 'bold')]
}]).format(precision=2)

# Display the cleaned DataFrame
display.display(styled_df)

In [8]:
# calculate the mean z-score for each column
mean_z_scores = z_scores.mean()

# create a DataFrame to display the mean z-scores
mean_z_scores_df = pd.DataFrame(mean_z_scores, columns=['Mean_Zscore'])

# display the mean z-scores DataFrame
import IPython.display as display
display.display(mean_z_scores_df.style.set_table_attributes('style="font-size: 14px; border-collapse: collapse;"')
                .set_table_styles([{
                    'selector': 'th',
                    'props': [('background-color', '#f2f2f2'), ('font-weight', 'bold')]
                }]))

# all come out to 0?

In [ ]:
# Calculate z-scores relative to the mean
scores_df['z_score_mean'] = (scores_df['score'] - mean_score) / std_dev_score

In [177]:
# calculate the mean and standard deviation for score columns
mean_std_scores = scores[existing_columns].agg(['mean', 'std'])

# display the mean and standard deviation of the scores
import IPython.display as display
display.display(mean_std_scores.style.set_table_attributes('style="font-size: 14px; border-collapse: collapse;"')
                .set_table_styles([{
                    'selector': 'th',
                    'props': [('background-color', '#f2f2f2'), ('font-weight', 'bold')]
                }]))

In [14]:
#print all zcores
print(score_columns)

['value_actEnglishScore', 'value_actReadingScore', 'value_actScienceScore', 'value_actCompositeScore', 'value_starReading', 'value_starMath', 'value_acapELA', 'value_acapMath', 'value_StarEarlyLit', 'value_edulasticELA', 'value_actStemScore', 'value_acapMathLevel', 'value_acapELALevel', 'value_acapScience', 'value_acapScienceLevel', 'value_edulasticMath', 'value_edulasticScience', 'value_edulasticHistory', 'value_acapReadSubscore', 'value_lexileStar', 'value_acapLexile', 'value_StudySyncELA', 'value_edulasticAlgebra', 'value_edulasticGeometry', 'value_edulasticPreCal', 'value_edulasticPhySci', 'value_edulasticBio', 'value_edulasticChem', 'value_edulasticEnvironmental', 'value_edulasticWH', 'value_edulasticUsHistory', 'value_edulasticEco', 'value_edulasticGov', 'value_edulasticCivics', 'value_edulasticGeography', 'value_starReadingUnified', 'value_starMathUnified', 'value_starEarlyLitUnified', 'value_edulasticAP', 'value_caseMathLevelExt', 'value_caseReadLevelExt', 'value_caseEngIILevelExt', 'value_caseSciLevelExt', 'value_caseSocLevelExt', 'value_caseEngILevelExt', 'value_caseGeoLevelExt', 'value_caseAlgILevelExt', 'value_caseAlgIILevelExt', 'value_caseBioLevelExt', 'value_AcapElaRc1', 'value_AcapElaRc2', 'value_AcapElaRc3', 'value_AcapElaRc4', 'value_AcapElaRc5', 'value_AcapElaRc6', 'value_AcapElaRc7', 'value_AcapElaRc8', 'value_AcapElaRc9', 'value_AcapElaRc10', 'value_AcapMathRc1', 'value_AcapMathRc2', 'value_AcapMathRc3', 'value_AcapMathRc4', 'value_AcapMathRc5', 'value_AcapSciRc1', 'value_AcapSciRc2', 'value_AcapSciRc3', 'value_AcapSciRc4']

In [27]:
# Print all columns in the ld_scores DataFrame
print(ld_scores.columns.tolist())

['id', 'districtId', 'subgroup_TCAPELALevel', 'ticket', 'studentId', 'studentLevel', 'year', 'scoreDate', 'measurementTypeId', 'subgroup_specialEd', 'subgroup_lunchStatus', 'subgroup_gender', 'subgroup_ethnicity', 'subgroup_ell', 'subGroup_bottom25', 'value_actMathScore', 'value_actEnglishScore', 'value_actReadingScore', 'value_actScienceScore', 'value_actCompositeScore', 'value_nweaMath', 'value_nweaReading', 'value_nweaEnglish', 'value_iReadyMath', 'value_iReadyReading', 'value_nweaELA', 'value_scantronMath', 'value_scantronReading', 'value_MAAPMath', 'value_MAAPRLA', 'value_scantronScience', 'value_scantronLanguage', 'value_ReadingFoundations', 'value_scantronAlgebra', 'value_actELAScore', 'value_MAAPScience', 'value_accessReadingScale', 'value_accessReadingProficiency', 'value_accessCompositeScale', 'value_accesscompositeProficiency', 'value_dibelsReading', 'value_MathMilestones', 'value_ELAMilestones', 'value_starReading', 'value_starMath', 'value_ScienceMilestones', 'value_LEAPScience', 'value_SocialMilestones', 'value_lexile', 'value_AlgebraGMA', 'value_GeometryGMA', 'value_BiologyGMA', 'value_EconomicsGMA', 'value_PhysScienceGMA', 'value_AmLitGMA', 'value_9thLitGMA', 'value_UsHisGMA', 'value_AnalyticGeoGMA', 'value_DibelsOrf', 'value_DibelsLNF', 'value_DibelsNWF', 'value_MaapEnglishII', 'value_MaapAlgI', 'value_MaapBio', 'value_MaapUsHis', 'value_AlgIBenchmark', 'value_AlgIABenchmark', 'value_AlgIBBenchmark', 'value_AlgConnBenchmark', 'value_AlgIIBenchmark', 'value_AlgIITrigBenchmark', 'value_BioBenchmark', 'value_ChemBenchmark', 'value_EconomicsBenchmark', 'value_EnglishBenchmark', 'value_EnvironmentalBenchmark', 'value_GeometryBenchmark', 'value_PhyScienceBenchmark', 'value_UsGovBenchmark', 'value_UsHisBenchmark', 'value_WorldHis9Benchmark', 'value_MAAPRLAProf', 'value_MAAPMathProf', 'value_tcapELA', 'value_tcapMath', 'value_tcapScience', 'value_tcapSocialStudies', 'value_tcapEnglishI', 'value_tcapEnglishII', 'value_tcapAlgebraI', 'value_tcapAlgebraII', 'value_tcapGeometry', 'value_tcapIntMathI', 'value_tcapIntMathIII', 'value_tcapIntMathII', 'value_tcapBiology', 'value_tcapUSHistory', 'value_tcapGeography', 'value_AccessScaleScore', 'value_AccessProficiency', 'value_acapELA', 'value_acapMath', 'value_nweaScience', 'value_StarEarlyLit', 'value_caseAlg', 'value_caseBio', 'value_caseEng', 'value_caseHis', 'value_caseRead', 'value_caseMath', 'value_caseSci', 'value_gcaInfo', 'value_gcaNar', 'value_gcaOpin', 'value_pivotMath', 'value_pivotELA', 'value_elsMath', 'value_elsEng', 'value_elsELA', 'value_elsAlg', 'value_SATEBRW', 'value_SATMath', 'value_transMath', 'value_SATComposite', 'value_edmentumMath', 'value_edmentumReading', 'value_edmentumELA', 'value_mStepMath', 'value_mStepELA', 'value_mStepSocial', 'value_lexia', 'value_PSATComposite', 'value_PSATMath', 'value_PSATEBRW', 'value_gcaEng', 'value_gcaAlg', 'value_gcaBio', 'value_gcaEcon', 'value_gcaPhysSci', 'value_gcaMath', 'value_gcaELA', 'value_gcaScience', 'value_gcaSocial', 'value_gcaUsHis', 'value_iarELA', 'value_iarMath', 'value_gcaGeo', 'value_edulasticELA', 'value_drcELA', 'value_drcMath', 'value_iStationReading', 'value_iStationMath', 'value_iStationReadingLevel', 'value_iStationMathLevel', 'value_BeaconELA', 'value_BeaconMath', 'value_DibelsComposite', 'value_StarMathGLE', 'value_StarReadingGLE', 'value_StarEarlyLitGLE', 'value_LexiaCore', 'value_LexiaPower', 'value_imagineLiteracy', 'value_CaseMathPercentCorrect', 'value_CaseReadPercentCorrect', 'value_PSF', 'value_LNF', 'value_LWSF', 'value_WRF', 'value_NWF', 'value_ORF', 'value_Voc', 'value_NNF', 'value_Ca', 'value_QTF', 'value_QDF', 'value_NCFT', 'value_NCFP', 'value_MFF1D', 'value_MFFT', 'value_CaseAlgPercentCorrect', 'value_CaseBioPercentCorrect', 'value_CaseEngIIPercentCorrect', 'value_CaseUsHisPercentCorrect', 'value_NSF', 'value_MCF', 'value_ENB', 'value_MathB', 'value_elsBio', 'value_MasteryPrepComposite', 'value_MasteryPrepEnglish', 'value_MasteryPrepMath', 'value_MasteryPrepReading', 'value_MasteryPrepScience', 'value_actSuperscore', 'value_actStemScore', 'value_MathInventory', 'value_ReadingInventory', 'value_DibelsPSF', 'value_DibelsWRF', 'value_DibelsMAZE', 'subgroup_TCAPMathLevel', 'value_TCAPELALevel', 'value_TCAPMathLevel', 'value_SummerELA', 'value_SummerMath', 'value_AandPBenchmark', 'value_UsHisIIBenchmark', 'value_acapMathLevel', 'value_acapELALevel', 'value_EarthSpaceBenchmark', 'value_PreCalBenchmark', 'value_ELAMilestonesLevel', 'value_MathMilestonesLevel', 'value_acapScience', 'value_SciMilestonesLevel', 'value_SocMilestonesLevel', 'value_IXLELA', 'value_IXLMath', 'value_DibelsNWFWRC', 'value_DibelsOrfWC', 'value_CertReading', 'value_CertMath', 'value_CertScience', 'value_CertEnglish', 'value_CertComposite', 'value_aimsReading', 'value_aimsMath', 'value_acapScienceLevel', 'value_performanceReading', 'value_fsaELA', 'value_fsaELALevel', 'value_fsaMath', 'value_fsaMathLevel', 'value_fsaAlgI', 'value_fsaBio', 'value_fsaUsHis', 'value_edulasticMath', 'value_AmericanHistoryBenchmark', 'value_performanceMath', 'value_performanceEnglish', 'value_performanceScience', 'value_performanceSS', 'value_performanceUsHis', 'value_performanceWH', 'value_widaListening', 'value_widaReading', 'value_widaSpeaking', 'value_widaWriting', 'value_widaLiteracy', 'value_widaComposite', 'value_schoolNetELA', 'value_schoolNetMath', 'value_acadienceReadingComposite', 'value_elsELALevel', 'value_elsMathLevel', 'value_MAAPHistory', 'value_caseEngII', 'value_HMHReading', 'value_IXLScience', 'value_performanceCivics', 'value_performanceGeo', 'value_performancePhysSci', 'value_performanceBio', 'value_performanceGov', 'value_elsEngLevel', 'value_elsBioLevel', 'value_elsAlgLevel', 'value_elsUsHis', 'value_elsUsHisLevel', 'value_ReadingPlus', 'value_edulasticScience', 'value_edulasticHistory', 'value_classworksELA', 'value_classworksMath', 'value_KReadiness', 'value_illuminateMath', 'value_illuminateReading', 'value_illuminateUsHis', 'value_illuminateAlg', 'value_CBMLn', 'value_CBMBasicMath', 'value_CBMProfRdg', 'value_CBMPs', 'value_CBMPrf', 'value_CBMLs', 'value_TScore', 'value_illuminateBio', 'value_illuminateScience', 'value_OTCScience', 'value_OTCMath', 'value_OTCEnglish', 'value_nweaReadingSpanish', 'value_nweaMathSpanish', 'value_nweaReadingProjected', 'value_nweaMathProjected', 'value_nweaProjectedMathSpanish', 'value_nweaProjectedReadingSpanish', 'value_ProjectedMAAPELA', 'value_ProjectedMAAPMath', 'value_acapReadSubscore', 'value_accuplacerComposite', 'value_caseReadLevel', 'value_caseMathLevel', 'value_caseAlgLevel', 'value_caseBioLevel', 'value_caseEngIILevel', 'value_caseSciLevel', 'value_caseHisLevel', 'value_noAssessment', 'value_schoolNetScience', 'value_schoolNetEngII', 'value_schoolNetEngI', 'value_schoolNetGeo', 'value_schoolNetAlgII', 'value_schoolNetSS', 'value_schoolNetBio', 'value_schoolNetAlgI', 'value_MaapEnglishIIProf', 'value_MaapAlgIProf', 'value_MaapBioProf', 'value_MAAPScienceProf', 'value_TCAPScienceLevel', 'value_TCAPSocialLevel', 'value_MaapUsHisProf', 'value_AlgebraGMALevel', 'value_AmLitGMALevel', 'value_UsHisGMALevel', 'value_BiologyGMALevel', 'value_tcapAlgebraILevel', 'value_tcapAlgebraIILevel', 'value_tcapBiologyLevel', 'value_tcapEnglishILevel', 'value_tcapEnglishIILevel', 'value_tcapUSHistoryLevel', 'value_tcapGeographyLevel', 'value_tcapIntMathILevel', 'value_tcapIntMathIILevel', 'value_tcapIntMathIIILevel', 'value_elsScienceLevel', 'value_elsScience', 'value_ELPT', 'value_ELPTLevel', 'value_tcapGeometryLevel', 'value_lexileMilestones', 'value_lexileRI', 'value_fsaUsHisLevel', 'value_fsaScience', 'value_fsaScienceLevel', 'value_fsaBioLevel', 'value_fsaAlgILevel', 'value_fsaGeometry', 'value_fsaGeometryLevel', 'value_fsaCivics', 'value_fsaCivicsLevel', 'value_caseEngILevel', 'value_CBMMathProf', 'value_lexileStar', 'value_actWritingScore', 'value_performanceGeometry', 'value_performanceEco', 'value_performanceAlgebraI', 'value_performanceAlgebraII', 'value_performancePreCal', 'value_lexileNWEA', 'value_MAAPHistoryProf', 'value_MAAPRLAGr', 'value_iarELALevel', 'value_iarMathLevel', 'value_MAAPMathGr', 'value_FastELA', 'value_FastELALevel', 'value_FastMath', 'value_FastMathLevel', 'value_acapLexile', 'value_StudySyncELA', 'value_edulasticAlgebra', 'value_edulasticGeometry', 'value_edulasticPreCal', 'value_illuminateSocial', 'value_illuminateLit', 'value_illuminatePhysicalScience', 'value_acapAltMath', 'value_acapAltELA', 'value_caseEngLevel', 'value_edulasticPhySci', 'value_edulasticBio', 'value_edulasticChem', 'value_edulasticEnvironmental', 'value_edulasticWH', 'value_edulasticUsHistory', 'value_edulasticEco', 'value_edulasticGov', 'value_edulasticCivics', 'value_edulasticGeography', 'value_lexileAchieve', 'value_MasteryELA', 'value_MasteryMath', 'value_CBMVocab', 'value_CBMWRF', 'value_caseAlgII', 'value_caseGeom', 'value_CMAELA', 'value_CMAMath', 'value_CMASci', 'value_CMASS', 'value_CMAAlg', 'value_CMALit', 'value_CMAPhySci', 'value_CMABio', 'value_CMAUsHis', 'value_ProgressAmLit', 'value_ProgressUsHis', 'value_ProgressBio', 'value_ProgressAlg', 'value_beableAcademic', 'value_iReadyReadingPercentile', 'value_iReadyMathPercentile', 'value_ESGI', 'value_EPReading', 'value_EPMath', 'value_EPLangArts', 'value_starReadingUnified', 'value_ReadyELA', 'value_ReadyELALevel', 'value_ReadyRead', 'value_ReadyReadLevel', 'value_ReadyMath', 'value_ReadyMathLevel', 'value_PassSci', 'value_PassSciLevel', 'value_EOCAlgI', 'value_EOCEngII', 'value_EOCBioI', 'value_EOCUsHis', 'value_WriteScore', 'value_WINMath', 'value_WINMathLevel', 'value_WINData', 'value_WINDataLevel', 'value_WINRead', 'value_WINReadLevel', 'value_WINSoft', 'value_starMathUnified', 'value_starEarlyLitUnified', 'value_HMHMath', 'value_edulasticAP', 'value_exactRead', 'value_workkeysLevelScore', 'value_workkeysScaleScore', 'value_exactMath', 'value_ProgressLearningScience', 'value_ProgressLearningSocial', 'value_ProgressBritLit', 'value_Progress10thLit', 'value_ProgressGeo', 'value_ProgressAMDM', 'value_ProgressAnatomy', 'value_ProgressChemistry', 'value_ProgressEnvironmental', 'value_ProgressPhysical', 'value_ProgressEco', 'value_ProgressAMGov', 'value_workkeysAMScale', 'value_workkeysAMLevel', 'value_workkeysGLScale', 'value_workkeysGLLevel', 'value_workkeysWDScale', 'value_workkeysWDLevel', 'value_GAAELA', 'value_GAAELALevel', 'value_GAAMath', 'value_GAAMathLevel', 'value_GAASci', 'value_GAASciLevel', 'value_GAASoc', 'value_GAASocLevel', 'value_CaseEngIPercentCorrect', 'value_ProgressELA', 'value_PassSoc', 'value_caseMathLevelExt', 'value_caseReadLevelExt', 'value_caseEngIILevelExt', 'value_caseSciLevelExt', 'value_caseSocLevelExt', 'value_caseEngILevelExt', 'value_caseGeoLevelExt', 'value_caseAlgILevelExt', 'value_caseAlgIILevelExt', 'value_caseBioLevelExt', 'value_EnglishExam', 'value_PreCalExam', 'value_AlgIExam', 'value_AlgIIExam', 'value_BioExam', 'value_CalExam', 'value_PhysicsExam', 'value_GeomExam', 'value_AmiraWCPM', 'value_schoolNetReading', 'value_schoolNetLanguage', 'value_starMathPercentile', 'value_starELPercentile', 'value_starReadingPercentile', 'value_TABEMath', 'value_TABEMathLevel', 'value_TABEReading', 'value_TABEMathGE', 'value_TABEReadingGE', 'value_TABEReadingLevel', 'value_GEDMath', 'value_GEDReasoning', 'value_GEDScience', 'value_GEDSS', 'value_exactLanguage', 'value_GEDMathLevel', 'value_GEDReasoningLevel', 'value_GEDScienceLevel', 'value_GEDSSLevel', 'value_BeaconMathLevel', 'value_BeaconELALevel', 'value_widaCompLevel', 'value_GEDReadyMath', 'value_aimsEarlyLit', 'value_GEDReadyReasoning', 'value_GEDReadyReasoningLevel', 'value_GEDReadySS', 'value_GEDReadySSLevel', 'value_IBEnglish', 'value_IBMath', 'value_IBScience', 'value_IBHistory', 'value_iMSSAReading', 'value_iMSSALanguage', 'value_iMSSAMath', 'value_iMSSAReadingLevel', 'value_iMSSALanguageLevel', 'value_iMSSAMathLevel', 'value_NMMSSALanguage', 'value_NMMSSAMath', 'value_NMMSSALanguageLevel', 'value_NMMSSAMathLevel', 'value_ProgressPersonalFin', 'value_ASRLevel', 'value_ASR', 'value_AmiraPR', 'value_AmiraARM', 'value_PhonicsInventory', 'value_ProgressMath', 'value_DibelsCLS', 'value_NGSS', 'value_NGSSLevel', 'value_starLexile', 'value_Nar360', 'value_NarLang360', 'value_ArgOp360', 'value_ArgLang360', 'value_gmaElaD1', 'value_gmaElaD2', 'value_gmaElaD3', 'value_gmaElaD4', 'value_gmaElaD5', 'value_gmaElaD6', 'value_gmaElaD7', 'value_gmaElaD8', 'value_gmaElaD9', 'value_gmaMathD1', 'value_gmaMathD2', 'value_gmaMathD3', 'value_gmaMathD4', 'value_gmaMathD5', 'value_gmaSciD1', 'value_gmaSciD2', 'value_gmaSciD3', 'value_gmaSciD4', 'value_gmaSciD5', 'value_gmaSsD1', 'value_gmaSsD2', 'value_gmaSsD3', 'value_gmaSsD4', 'value_gmaCalgD1', 'value_gmaCalgD2', 'value_gmaCalgD3', 'value_gmaCalgD4', 'value_gmaAlg1D1', 'value_gmaAlg1D2', 'value_gmaAlg1D3', 'value_gmaAlg1D4', 'value_gmaBioD1', 'value_gmaBioD2', 'value_gmaBioD3', 'value_gmaBioD4', 'value_gmaBioD5', 'value_gmaUshD1', 'value_gmaUshD2', 'value_gmaUshD3', 'value_gmaUshD4', 'value_gmaUshD5', 'value_gmaAmlD1', 'value_gmaAmlD2', 'value_gmaAmlD3', 'value_gmaAmlD4', 'value_gmaAmlD5', 'value_gmaAmlD6', 'value_gmaAmlD7', 'value_gmaAmlD8', 'value_gmaAmlD9', 'value_gmaPhysD1', 'value_gmaPhysD2', 'value_gmaPhysD3', 'value_gmaPhysD4', 'value_widaComprehension', 'value_widaComprehensionLevel', 'value_widaListeningLevel', 'value_widaLiteracyLevel', 'value_widaOral', 'value_widaOralLevel', 'value_widaCompositeLevel', 'value_widaReadingLevel', 'value_widaSpeakingLevel', 'value_GMAEWI', 'value_GMAEXGU', 'value_GMANW', 'value_WIDAWritingLevel', 'value_WriteReadNarrER', 'value_WriteReadNarr', 'value_WriteID', 'value_WriteLU', 'value_GMAWriting', 'value_AcapElaRc1', 'value_AcapElaRc2', 'value_AcapElaRc3', 'value_AcapElaRc4', 'value_AcapElaRc5', 'value_AcapElaRc6', 'value_AcapElaRc7', 'value_AcapElaRc8', 'value_AcapElaRc9', 'value_AcapElaRc10', 'value_AcapMathRc1', 'value_AcapMathRc2', 'value_AcapMathRc3', 'value_AcapMathRc4', 'value_AcapMathRc5', 'value_maapElaRc1', 'value_maapElaRc2', 'value_maapElaRc3', 'value_maapElaRc4', 'value_maapElaRc5', 'value_maapWritingDm1', 'value_maapWritingDm2', 'value_maapWritingDm3', 'value_maapWritingDm4', 'value_maapMathRc1', 'value_maapMathRc2', 'value_maapMathRc3', 'value_maapMathRc4', 'value_maapMathRc5', 'value_maapScienceRc1', 'value_maapScienceRc2', 'value_maapScienceRc3', 'value_maapBioRc1', 'value_maapBioRc2', 'value_maapBioRc3', 'value_maapUshRc1', 'value_maapUshRc2', 'value_maapUshRc3', 'value_maapUshRc4', 'value_maapUshRc5', 'value_ESGIMath', 'value_RGRPAvg', 'value_RGRPhoAwaAvg', 'value_acapAltMathLevel', 'value_acapAltELALevel', 'value_acapAltSci', 'value_acapAltSciLevel', 'value_ESGIsightwords', 'value_MaapAlgIGrowth', 'value_MaapEngIIGrowth', 'value_cltVerbalReasoning', 'value_cltQuantitativeReasoning', 'value_cltGRWR', 'value_cltComposite', 'value_NMMSSAReading', 'value_NMMSSAReadingLevel', 'value_NMMSSAWriting', 'value_NMMSSAWritingLevel', 'value_NMMSSAReadingGrowth', 'value_NMMSSAWritingGrowth', 'value_NMMSSALanguageGrowth', 'value_NMMSSAMathGrowth', 'value_iMSSAReadingGrowth', 'value_iMSSALanguageGrowth', 'value_iMSSAMathGrowth', 'value_CaasppMath', 'value_CaasppMathLevel', 'value_CaasppELA', 'value_CaaspELALevel', 'value_Cast', 'value_CastLevel', 'value_CaasppLexile', 'value_CaasppQuantile', 'value_Elpac', 'value_ElpacLevel', 'value_ElpacOral', 'value_ElpacOralLevel', 'value_ElpacWritten', 'value_ElpacWrittenLevel', 'value_AcapSciRc1', 'value_AcapSciRc2', 'value_AcapSciRc3', 'value_AcapSciRc4', 'value_fsaWriting', 'value_fsaWritingLevel', 'value_acadienceReadingCompositeLevel']

In [37]:
from scipy import stats
import IPython.display as display

# List of columns to be transformed to Z-scores based on your provided list
score_columns = [
    'id', 'districtId', 'subgroup_TCAPELALevel', 'ticket', 'studentId', 'studentLevel', 'year',
    'scoreDate', 'measurementTypeId', 'subgroup_specialEd', 'subgroup_lunchStatus', 'subgroup_gender',
    'subgroup_ethnicity', 'subgroup_ell', 'subGroup_bottom25', 'value_actMathScore', 'value_actEnglishScore',
    'value_actReadingScore', 'value_actScienceScore', 'value_actCompositeScore', 'value_nweaMath', 
    'value_nweaReading', 'value_nweaEnglish', 'value_iReadyMath', 'value_iReadyReading', 'value_nweaELA',
    'value_scantronMath', 'value_scantronReading', 'value_MAAPMath', 'value_MAAPRLA', 'value_scantronScience',
    'value_scantronLanguage', 'value_ReadingFoundations', 'value_scantronAlgebra', 'value_actELAScore',
    'value_MAAPScience', 'value_accessReadingScale', 'value_accessReadingProficiency', 'value_accessCompositeScale',
    'value_accesscompositeProficiency', 'value_dibelsReading', 'value_MathMilestones', 'value_ELAMilestones',
    'value_starReading', 'value_starMath', 'value_ScienceMilestones', 'value_LEAPScience', 'value_SocialMilestones',
    'value_lexile', 'value_AlgebraGMA', 'value_GeometryGMA', 'value_BiologyGMA', 'value_EconomicsGMA',
    'value_PhysScienceGMA', 'value_AmLitGMA', 'value_9thLitGMA', 'value_UsHisGMA', 'value_AnalyticGeoGMA',
    'value_DibelsOrf', 'value_DibelsLNF', 'value_DibelsNWF', 'value_MaapEnglishII', 'value_MaapAlgI', 'value_MaapBio',
    'value_MaapUsHis', 'value_AlgIBenchmark', 'value_AlgIABenchmark', 'value_AlgIBBenchmark', 'value_AlgConnBenchmark',
    'value_AlgIIBenchmark', 'value_AlgIITrigBenchmark', 'value_BioBenchmark', 'value_ChemBenchmark', 'value_EconomicsBenchmark',
    'value_EnglishBenchmark', 'value_EnvironmentalBenchmark', 'value_GeometryBenchmark', 'value_PhyScienceBenchmark',
    'value_UsGovBenchmark', 'value_UsHisBenchmark', 'value_WorldHis9Benchmark', 'value_MAAPRLAProf', 'value_MAAPMathProf',
    'value_tcapELA', 'value_tcapMath', 'value_tcapScience', 'value_tcapSocialStudies', 'value_tcapEnglishI',
    'value_tcapEnglishII', 'value_tcapAlgebraI', 'value_tcapAlgebraII', 'value_tcapGeometry', 'value_tcapIntMathI',
    'value_tcapIntMathIII', 'value_tcapIntMathII', 'value_tcapBiology', 'value_tcapUSHistory', 'value_tcapGeography',
    'value_AccessScaleScore', 'value_AccessProficiency', 'value_acapELA', 'value_acapMath', 'value_nweaScience',
    'value_StarEarlyLit', 'value_caseAlg', 'value_caseBio', 'value_caseEng', 'value_caseHis', 'value_caseRead',
    'value_caseMath', 'value_caseSci', 'value_gcaInfo', 'value_gcaNar', 'value_gcaOpin', 'value_pivotMath',
    'value_pivotELA', 'value_elsMath', 'value_elsEng', 'value_elsELA', 'value_elsAlg', 'value_SATEBRW', 'value_SATMath',
    'value_transMath', 'value_SATComposite', 'value_edmentumMath', 'value_edmentumReading', 'value_edmentumELA',
    'value_mStepMath', 'value_mStepELA', 'value_mStepSocial', 'value_lexia', 'value_PSATComposite', 'value_PSATMath',
    'value_PSATEBRW', 'value_gcaEng', 'value_gcaAlg', 'value_gcaBio', 'value_gcaEcon', 'value_gcaPhysSci', 'value_gcaMath',
    'value_gcaELA', 'value_gcaScience', 'value_gcaSocial', 'value_gcaUsHis', 'value_iarELA', 'value_iarMath', 'value_gcaGeo',
    'value_edulasticELA', 'value_drcELA', 'value_drcMath', 'value_iStationReading', 'value_iStationMath', 'value_iStationReadingLevel',
    'value_iStationMathLevel', 'value_BeaconELA', 'value_BeaconMath', 'value_DibelsComposite', 'value_StarMathGLE',
    'value_StarReadingGLE', 'value_StarEarlyLitGLE', 'value_LexiaCore', 'value_LexiaPower', 'value_imagineLiteracy',
    'value_CaseMathPercentCorrect', 'value_CaseReadPercentCorrect', 'value_PSF', 'value_LNF', 'value_LWSF', 'value_WRF',
    'value_NWF', 'value_ORF', 'value_Voc', 'value_NNF', 'value_Ca', 'value_QTF', 'value_QDF', 'value_NCFT', 'value_NCFP',
    'value_MFF1D', 'value_MFFT', 'value_CaseAlgPercentCorrect', 'value_CaseBioPercentCorrect', 'value_CaseEngIIPercentCorrect',
    'value_CaseUsHisPercentCorrect', 'value_NSF', 'value_MCF', 'value_ENB', 'value_MathB', 'value_elsBio', 'value_MasteryPrepComposite',
    'value_MasteryPrepEnglish', 'value_MasteryPrepMath', 'value_MasteryPrepReading', 'value_MasteryPrepScience', 'value_actSuperscore',
    'value_actStemScore', 'value_MathInventory', 'value_ReadingInventory', 'value_DibelsPSF', 'value_DibelsWRF', 'value_DibelsMAZE',
    'value_starLexile', 'value_exactRead', 'value_exactMath', 'value_imagineLiteracyLevel', 'value_EDLearning', 'value_ACPBenchmarks',
    'value_ProjectedMAAPELA', 'value_ProjectedMAAPMath', 'value_MAAPHistory', 'value_BioExam', 'value_AlgIExam',
    'value_GeomExam', 'value_PreCalExam', 'value_AmLitExam', 'value_WritingBenchmark', 'value_ELAMastery', 'value_MathMastery',
    'value_SciMastery', 'value_SocMastery', 'value_ELSExam', 'value_PSATWriting', 'value_MACTotal', 'value_MAAPWritingDm1',
    'value_MAAPWritingDm2', 'value_MAAPWritingDm3', 'value_MAAPWritingDm4', 'value_MAAPWritingDm5', 'value_MAAPMathGr',
    'value_MAAPBioGr', 'value_AlgIConnBenchmark', 'value_MAAPEngII', 'value_caseEngILevel', 'value_caseAlgILevel',
    'value_caseAlgIILevel', 'value_caseMathLevel', 'value_caseBioLevel', 'value_caseEngIILevel', 'value_caseHisLevel',
    'value_caseReadLevel', 'value_caseSciLevel', 'value_ChemistryExam', 'value_LitExam', 'value_EDHistory',
    'value_starEarlyLitUnified', 'value_starMathUnified', 'value_starReadingUnified', 'value_edulasticAP',
    'value_gcaAnalyticalGeometry', 'value_PSYCH', 'value_QDFractions', 'value_NCGeo', 'value_ELACert', 'value_ED2Bio',
    'value_EDPrecal', 'value_ReadyELA', 'value_ReadyMath', 'value_tcapMathLevel', 'value_tcapELALevel',
    'value_acapMathLevel', 'value_acapELALevel', 'value_acapScienceLevel', 'value_acapScience', 'value_performanceReading',
    'value_performanceMath', 'value_performanceScience', 'value_performanceSS', 'value_performanceHistory',
    'value_performanceCivics', 'value_performanceGov', 'value_performanceGeo', 'value_performanceBio',
    'value_performanceEco', 'value_performancePhysical', 'value_performanceChem', 'value_performanceEnvironmental',
    'value_performanceUSHistory', 'value_acapMathSubscore1', 'value_acapMathSubscore2', 'value_acapMathSubscore3',
    'value_acapMathSubscore4', 'value_acapMathSubscore5', 'value_acapMathSubscore6', 'value_acapMathSubscore7',
    'value_acapMathSubscore8', 'value_acapMathSubscore9', 'value_acapMathSubscore10', 'value_acapElaSubscore1',
    'value_acapElaSubscore2', 'value_acapElaSubscore3', 'value_acapElaSubscore4', 'value_acapElaSubscore5',
    'value_acapElaSubscore6', 'value_acapElaSubscore7', 'value_acapElaSubscore8', 'value_acapElaSubscore9',
    'value_acapElaSubscore10', 'value_acapMathRc1', 'value_acapMathRc2', 'value_acapMathRc3', 'value_acapMathRc4',
    'value_acapMathRc5', 'value_acapSciRc1', 'value_acapSciRc2', 'value_acapSciRc3', 'value_acapSciRc4'
]

# Step 1: Check for existing columns in the DataFrame
existing_columns = [col for col in score_columns if col in scores.columns]

# Step 2: Apply the Z-score function to each existing score column
z_scores = scores[existing_columns].apply(stats.zscore, nan_policy='omit')

# Step 3: Replace NaN values with 0
z_scores.fillna(0, inplace=True)

# Step 4: Add the Z-scores back to the original DataFrame
z_score_column_names = [col + '_Zscore' for col in existing_columns]
scores[z_score_column_names] = z_scores

# Step 5: Create a new DataFrame for displaying Z-scores cleanly
z_scores_df = scores[z_score_column_names]

# Step 6: Style and display the DataFrame
display.display(z_scores_df.style.set_table_attributes('style="font-size: 14px; border-collapse: collapse;"')
                .set_table_styles([{
                    'selector': 'th',
                    'props': [('background-color', '#f2f2f2'), ('font-weight', 'bold')]
                }]))

In [39]:
# calculate the mean z-score for each column
mean_z_scores = z_scores.mean()

# create a DataFrame to display the mean z-scores
mean_z_scores_df = pd.DataFrame(mean_z_scores, columns=['Mean_Zscore'])

# display the mean z-scores DataFrame
import IPython.display as display
display.display(mean_z_scores_df.style.set_table_attributes('style="font-size: 14px; border-collapse: collapse;"')
                .set_table_styles([{
                    'selector': 'th',
                    'props': [('background-color', '#f2f2f2'), ('font-weight', 'bold')]
                }]))

# all come out to 0?

In [43]:
# calculate the mean and standard deviation for score columns
mean_std_scores = scores[existing_columns].agg(['mean', 'std'])

# display the mean and standard deviation of the scores
import IPython.display as display
display.display(mean_std_scores.style.set_table_attributes('style="font-size: 14px; border-collapse: collapse;"')
                .set_table_styles([{
                    'selector': 'th',
                    'props': [('background-color', '#f2f2f2'), ('font-weight', 'bold')]
                }]))